# PostgreSQL
POSTGRES_USER=tripplesph_user
POSTGRES_PASSWORD=tripples2026!
POSTGRES_DB=tripplesph_db

# JWT
JWT_SECRET=358f53bb66b3af8e048158db233d09305cbc8554b6f8a487b448f40a53816a16

# App
NODE_ENV=development
PORT=3001